services:
  nexus:
    image: sonatype/nexus3
    container_name: nexus
    ports:
      - "8081:8081"
    networks:
      - nexus-network
    restart: always
    
networks:
  name:
    driver: brigh
    
    
configs:
  
secrets:
  sd:
    name: 
    
volumes:
  