# kind-config.yaml
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 80
        hostPort: 9090
      - containerPort: 443
        hostPort: 9443
      # API server port
      - containerPort: 6443
        hostPort: 62364
        listenAddress: "127.0.0.1"
        protocol: TCP

      # Custom exposed app ports
      - containerPort: 30440
        hostPort: 5000
        protocol: TCP
      - containerPort: 30441
        hostPort: 5001
        protocol: TCP
      - containerPort: 30442
        hostPort: 5002
        protocol: TCP
      - containerPort: 30443
        hostPort: 5003
        protocol: TCP
      - containerPort: 30444
        hostPort: 5004
        protocol: TCP
      - containerPort: 30445
        hostPort: 5005
        protocol: TCP
      - containerPort: 30446
        hostPort: 5006
        protocol: TCP
      - containerPort: 30447
        hostPort: 5007
        protocol: TCP
      - containerPort: 30448
        hostPort: 5008
        protocol: TCP
      - containerPort: 30449
        hostPort: 5009
        protocol: TCP
    extraMounts:
      - hostPath: E:\Database\postgres_data
        containerPath: /mnt/kind-data
    kubeadmConfigPatches:
      - |
        kind: KubeletConfiguration
        systemReserved:
          cpu: 200m
          memory: 512Mi
        kubeReserved:
          cpu: 200m
          memory: 512Mi
        enforceNodeAllocatable:
          - pods
          - kube-reserved
          - system-reserved
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            system-reserved: "memory=512Mi,cpu=200m"
            kube-reserved: "memory=512Mi,cpu=200m"
